/* width = LARGURA
   height = ALTURA

   UNIDADES DE MEDIDAS
   vw = view width
   vh = view height
   cm = centimetro
   px = pixel */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.caixa-superior {
    background-image:url("./dev.png");
    background-size: cover;
    height: 100vh;   
}
.cabecalho {
    padding-top: 38px;
    padding-left: 35px;

}

.titulo-cabecalho{
    color:#ffff;
     font-size: 30px;
     display: inline;
     margin-right: 20vw;
    
}
.titulo-cabecalho:hover {
    color:#2e408a!important;
          
    }

    .link-cabecalho-1 {
        
        font-size: 16px;
        display: inline;
        color: #ffff;
        text-decoration: none;
    }
    .link-cabecalho-1:hover {
        color:#2e408a!important;
       
}



.link-cabecalho {
    font-size: 16px;
    color: #ffff;
    display: inline;
    text-decoration: none;
    margin-left: 35px;
    cursor: pointer;
}

.link-cabecalho:hover {
    color:#2e408a!important;

}
h1 {
    font-size: 55px;
    color: #ffff;
    position: relative;
    top: 320px;
    margin-left: 25px;
}
.sub-h1 {
    font-size: 20px;
    font-weight: 400;

    color: #ffff;
    position: relative;
    top: 320px;
    padding-left: 25px;
   
    
}

.titulo-formulario {
    font-size: 20px;
    color: #2e408a;
    margin-bottom: 25px;
    text-align: center;
    
   
   
}

form {
    opacity: 0;
    transition: opacity 1s linear;
    background-color: #fff;
    border-radius: 5px;
    float: right;
    padding: 15px;
    margin-right: 50px;
    position: relative;
    bottom: 70px;
    

}

.mostrar-formulario {
    opacity: 1;

}

input {
    display: block;
    background:#F9F9F9; 
    border:1px solid #E6E6E6;
    border-radius: 5px;
    Height: 40px;
    Width: 200px;
    margin-bottom: 30px;
    padding-left: 15px; 



}
textarea {
    display: block;
    font-size: 14px;
    Height: 80px;
    Width: 250px;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    margin-bottom: 20;
    padding-left: 15px;
}
label {
    font-size: 14px;
    color:#2e408a;
    
}
button {
    Width :250px;
    Height :40px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color:#40BB15 ;
    color: #ffff;
}
#titulo-meio {
    font-size: 35px;
    text-align: center;
    margin: 40px 0px 30px 0px;

}
.card {
    width: 300px;
    border-radius: 10px;
    background: #ffff;
    border: 1px solid #A9D6FF;
}
.titulo-card {
    background:  #2e408a;
    color: #ffff;
    text-align: center;
    padding: 15px;
    border-radius: 10px 10px 0 0;
}
ul {
    padding: 35px;;
    
}

li {
   margin-bottom: 10px;
   margin-left: 10px;
   
}
.caixa-central {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}
#titulo-final {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    color: #ffff;
    margin-right: 47%;
}
.caixa-final {
    
   padding: 50px 0px 50px 0px;
    
    background: #2e408a;
   color: #ffff;
}
p {
    line-height: 28px;
    text-align: center;
   text-align: left;
   padding-left: 250px;
  padding-right: 250px;
   
}

 #informações {
   font-size: 18px;
    display: inline;
    color: #2e408a;
    font-weight:700;
}

.link-rodape {
    
    font-size: 15px;
    color: #2e408a;
    background-color: #ffff;
    border-radius: 3px;
    padding: 4px;
    display: inline;
    margin-right: 5vw;
    cursor: pointer;
  text-decoration: none;
  font-weight:700;

}
.link-rodape:hover {
    background-color:#2e408a; 
    color:#ffff;

}
   